$col_font: #4d4d4d;
$col_back: #292929;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-image: url("/assets/img/home.jpg"); 
    background-position: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $col_font
}

header{
    display: flex;
    justify-content: flex-end;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    .top{
        display: flex;
        justify-content: space-between;
        .top--left{
            .city{
                color: $col_font;
                font-size: 36px;
                margin-left: 5px;
            }
            .temp{
                color: $col_font;
                font-size: 96px;
                margin-left: 5px;
            }
        }
        .top--right{
            display: flex;
            justify-content: center;
            .weather{
            transform: rotate(-90deg);
            color: $col_font;
            font-size: 36px;
            padding-top: 80%;
            }
        }
    }
    .bot{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .bot--left{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 5px;
            .humidity{
                font-size: 18px;
                margin-bottom: 30px;
            }
            .wind{
                font-size: 18px;
            }
        }
        .bot--right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            .weaIcon{
                width: 100px;
            }
            .description{
                margin-bottom: 20px;
            }
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    #search{
        border-style: none;
        background-color: rgba($color: $col_back, $alpha: 0.8);
        color: $col_font;
        font-size: 24px;
        text-align: center;
        margin: 10px;
        color: #d3d3d3;
    }
}