$col_font: #e5e5e5;
// $col_font: #252525
$col_back: #292929;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-image: url("/assets/img/home.jpg"); 
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $col_font
}

header{
    display: flex;
    justify-content: flex-end;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
    .top{
        display: flex;
        justify-content: space-between;
        max-height: 200px;
        .top--left{
            .city{
                font-size: 36px;
                margin-left: 5px;
            }
            .temp{
                font-size: 96px;
                margin-left: 5px;
            }
        } 
        .weather{
            font-size: 36px;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            margin-bottom: 4%;
        } 
    }   

    .bot{
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        .bot--left{
            flex-basis: 0;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 5px;
            .windIcon{
                width: 50px;
            }
            .wind{
                font-size: 16px;
                text-align: center;
                margin-top: 10px;
            }
        }
        .bot--middle{
            flex-basis: 0;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .weaIcon{
                width: 100px;
            }
            .description{
                margin-bottom: 20px;
                text-align: center;
                font-size: 20px;
            }
        }
        .bot--right{
            flex-basis: 0;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 5px;
            .humidityIcon{
                width: 50px;
            }
            .humidity{
                font-size: 16px;
                text-align: center;
                margin-top: 10px;
            }
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    #search{
        border-style: none;
        background-color: rgba($color: $col_back, $alpha: 0.8);
        color: $col_font;
        font-size: 24px;
        text-align: center;
        margin: 10px;
    }
}